.form__input {
  position: relative;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.form__input__label {
  display: block;
  color: white;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}

.error__container {
  width: 250px;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
}

.error {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
  color: red;
  font-size: 10px;
  margin-bottom: 5px;
}

.control {
  color: white;
}